@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #003b31;
}

.bg img,
.bg-1 {
	width: 100%;
}

.bg-1,
.bg-2 {
	background-color: #003b31;
}

.bg-1 h3,
.bg-1 h4 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
}

.bg-1 p {
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
}

marquee {
	font-family: 'Cairo', sans-serif;
}